gradio==4.19.1
pymongo
motor
python-dotenv
huggingface_hub
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
Pillow
transformers
datasets
scikit-learn
imblearn
scipy 
python-box
PyYAML
ensure
dvc[gdrive] # Add dvc with gdrive support
